.question {
    width: 600px;
    text-align: center;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: rgba(96, 66, 136, 0.212);
    box-shadow: 0 4px 12px rgba(245, 153, 153, 0.05);
    position: absolute;
    top: 7%;
    left: 33%;
  }
  
.question > label {
    display: block;
    margin-bottom: 2px;
    font-weight: 600;
    color: #333;
  }
  
  .question>textarea,
  .question>input[type="text"] {
    width: 100%;
    padding: 1px;
    margin-bottom: -15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .question>textarea:focus,
  .question>input[type="text"]:focus {
    border-color: rgba(96, 66, 136, 0.781);
    outline: none;
  }
  
  .question>div {
    margin-top: 10px;
  }
  .choices{
    display: flex;
    gap: 45px;
  }
  
  .question > div h4 {
    margin-bottom: 10px;
    text-align: left;
    color: #555;
  }
  
  .question>div label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: normal;
    color: #444;
  }
  
  .question>input[type="radio"] {
    margin-right: 10px;
    accent-color: rgba(96, 66, 136, 0.781);
  }
